.__button
.__button_secondary
	@apply py-1 rounded inline-block cursor-pointer

.__button
	@apply text-white mb-2
	width 250px
	background-color #66615b

	&:hover
		background-color #444030

.__button_secondary
	@apply py-1 border
	width 90px
	background-color #f7f4ef
	border-color rgb(229 231 235)
	color rgb(55 65 81)

	&:hover
		background-color #eef0e7
